# Koneksi database SQLite (Default Development)
# Untuk PostgreSQL: DATABASE_URL="postgresql://postgres:password@localhost:5432/spk_kinerja_guru_alihsan"
DATABASE_URL="file:./dev.db"

# Kunci session autentikasi
AUTH_SECRET="ganti-dengan-rahasia-acak-anda"

# URL aplikasi
NEXT_PUBLIC_APP_URL="http://localhost:3000"
